[Unit]
Requires=network.target

[Service]
Type=simple
User=shaerebot
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
Environment=WEB_PORT=5050
Environment=WEB_SECRET_KEY_BASE=not_important_right_now
WorkingDirectory=/home/shaerebot/shaerebot
ExecStart=/home/shaerebot/shaerebot/bin/shaerebot foreground
RemainAfterExit=no
TimeoutStopSec=60
KillMode=process

[Install]
WantedBy=multi-user.target
